

/*main start*/

body
{
    margin: 0 ;
    padding: 0 ;
}
header
{
    width: 100%;
    height: 70px;
    position: relative;
    margin: auto;
    max-width: 1200px;

}


.menu
{
    max-width: 1920px;
    background-color: white;
    height: 170px;
    margin:0;
    padding: 0 ;
}

.headd
{
    max-width: 1200px;
    margin: auto;
    height: 170px;
    padding: 0 ;
}
#logim
{
    float: left;
    width: 40%;
    height: 120px;
    padding: 0;
    margin: 0;
}
#rightup
{
    float: right;
    width: 45%;
    height: 120px;
    padding-left: 5%;
    text-align: left;
    font-size: 23px;
} 
.marker
{
     list-style-image: url(111.png);
}
.marker2
{
 }
#leftdown
{
    float: left;
    font-size: 20px;
    width: 29%;
    height: 38px;
    font-size: 23px;
    text-align: left;
    margin-top:0;
    padding-top: 12px; 
    padding-left: 11%;
}
#butt
{
    float: left;
    width: 20%;
    height: 40px;
    background-color: red;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    padding: 0;
    margin-left: 17%;
}
/*main end*/

/*нав*/

nav {  
    z-index: 9999;
    margin: auto;
    border: 0;
    display:block;
    max-width: 1200px;
    width: 100%;
    position: fixed; 
    margin-top: 20px;    
    text-align: center;
    font-size: 20px;  
    font-weight: normal; 
    font-style: normal; 
    
    /*border-bottom: 1px solid #283744;  */
    /*background-color: rgba(255,0,0, 0);*/
    /*transition: all 0.4s cubic-bezier(0.10,0.1,1,1); */
}
nav ul {
    border: 0;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
nav ul li {
    border: 0;
    display: block;
    list-style: none;
    width:19.6%;

}
nav ul li a {
    border: 0;
  position: relative;
  display: block;
  margin: 0 0px;
  padding: 10px 0px;
  color: #aaa;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}
nav ul li a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition: 0.5s;
}
nav ul li a:hover {
  color: #fff;
}
nav ul li a:hover::before {
  animation: animate .5s linear forwards; 
}

/*nav ul {  
    padding: 0;  
    margin: 0 auto;  
    width: 100%;  
    

}  
nav li {  
    display: block; 
    position: relative; 
    margin: 0;
    padding: 0;
   list-style: none;
    width: 20%;
    float:left;
    text-align: center; 
}  
  
nav a {  
    color: #f10720;  
    display: inline-block;    
    text-align: center; 
    color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
    text-decoration: none;  
      
    padding-top: 5px;
    padding-bottom: 5px;
    
    padding-left: 20px;
    padding-right: 20px;
   
    margin: auto;
    
  
    /*text-shadow: 1px 1px 0px #000;  
    opacity: 1;
}  */
@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
   
    width: 100%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.cont
{
  list-style-type: none;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 40px;
text-align: left;
}
.cont:hover
{
    background-color: green;
}
/*nav li:hover{
     
    background-color: red;
    border: 2px solid black;
    transition: 0.3s;
    } 
nav li:active { 
     
    background-color: red;
    
    transition: 0.3s;
}  */

#pull:hover{
    background-color: #8c99a4;  
    } 
#pull:active { 
     
    background-color: #8c99a4;  
}
nav a#pull {  
    display: none;  
    text-align: center;
    background-color: #000;
} 
.clearfix:before 
{
    display: table;  
    clear: both; 
}
.clearfix:after 
{ 
    content: " ";  
    display: block;  
    clear: both;  
}     
.clearfix {  
    *zoom: 1;  
}
.aaaa1
    {
        display: none;
    }


.ss
{
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 1000px;
    text-align: center;
}
.container
{
    width: 100%;
    position: relative;
    height: 350px;
    margin: 20px;
    
}
.limg
{
    margin-top: 25px;
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    background-color: green;
}
.rimg
{
    
    position: relative;
    margin-top: 25px;
    width: 300px;
    height: 300px;
    float: right;
    background-color: blue;
}
.ltext
{
    background-color: blue;
    position: relative;
    width: 860px;
    height: 350px;
    float: left;
}
.rtext
{
    background-color: green;
    position: relative;
    width: 860px;
    height: 350px;
    float: right;
}

@media screen and (max-width: 1035px) { 
    .aaaa
    {
        display: none;
    }
    .aaaa1
    {
        display: block;
    }
    nav a#pull {  
        display: block;  
       /* background-color: #0c6acf  5c10c7;  096fdb */
       background-color: #111a9c;
        width: 20%;  
        position: absolute;  
        
        top: 0px; 
        left: 0px; 
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        
        top: 0px; 
        left: 0px; 
       
    } 
 nav {   
        width: 50%;
        display: block;
        height: auto;          
        border-bottom: 0;  
        margin: 0;
    }    
    
    nav ul {  
        width: 100%;  
        display: none;  
        height: auto;  
    }  
    nav li {  
        width: 100%;  
         
        position: relative;  
    }  
    nav li a {  
        border-bottom: 0px solid #576979;  
        border-right: 0px solid #576979;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  
    }